@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div <div class="jumbotron">
    <h1>ZAKARIYA, THE CLOUD KING 💜 AZURE
    <a href ="https://www.moonpig.com/uk/media/?key=0_c_ec86a0ed5504ff80067ecc87c3fb0afa"</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
    <div>Host operating system: @Model.OSVersion</div>
</div>
