@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div <div class="jumbotron">
    <h1>ZAKARIYA, THE CLOUD KING 💜 AZURE</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
    <div>Host operating system: @Model.OSVersion</div>
</div>
